*{
  margin: 0;
  padding: 0;
}
html{
  background-image: linear-gradient(to top, #14161a, #2c2d30, #454648, #606061, #7c7c7c);
  min-height: 100%;
  color: white;
}
.Main{
  position: absolute;
  width: 100%;
  top: 0;
}
/* ************************************************************ Navbar ********************************************************* */
.Nav{
  width: 80%;
  top: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 1;
}
.NavbarItems{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.NavbarLogo{
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  font-family: 'Fjalla One', sans-serif;
}
.nav-menu{
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-gap: 10px;
  list-style: none;   
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}
.nav-links{
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-family: 'Baloo Tamma 2', cursive;
}

.fa-bars, .fa-times{
  color: #fff;
}
.menu-icon{
  display: none;
}


/* ************************************************************ Home ********************************************************* */
.landing_page{
  width: 100%;
}
.triangle_right {
  width: 0;
  height: 0;
  border-top: 100vh solid transparent;
  border-left: 1100px solid rgba(255, 239, 239, 0.3);
}  
.profile_pic {
  position: absolute;
  top: 320px;
  left: 390px;
  height: 350px;
  width: 350px;
  background-image: url('./assets/img/profile.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transform: rotateZ(-10deg);
}



/* ************************************************************ Mobile ********************************************************* */


@media screen and (max-width: 768px){

/* ************************************************************ Navbar ********************************************************* */

  .Nav{
    width: 100%; 
    top: 0;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.3);
    position: fixed;
  }
  .NavbarItems{
    text-align: center;
  }
  .nav-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 80px;
    background: rgba(0,0,0,0.3);
    text-align: center;
    width: 100%;
    padding: 5px;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);   
    transition: all .7s ease-in;  
    pointer-events: none;
  }
  .nav-menu-active{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 80px;
    background: rgba(0,0,0,0.3);
    text-align: center;
    width: 100%;
    padding: 5px;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(500px at 90% -10%);
    transition: all .7s ease-out;    
    pointer-events: all;
  }
  .nav-links{
    text-align: center;
    padding: 1rem;
    display: inline-table;
  }
  .NavbarLogo{
    position: absolute;
    left: 0;
  }
  .menu-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%,60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-bars{
    transition: all 3s ease-out;
  }
  .fa-times{
    transition: all .5s ease-in;
  }
  .triangle_right {
    display: none;
  }
/* ************************************************************ Navbar ********************************************************* */
  
   
}