*{
  margin: 0;
  padding: 0;
}
body{
  -ms-overflow-style: none;
  scrollbar-width: none; 
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
html{
  background-image: linear-gradient(to bottom, #1e1e1f, #28282a, #323336, #3d3e42, #48494f, #505259, #585b63, #60646e, #686d79, #717583, #797e8e, #828799);
  min-height: 100%;
  width: 100%;
  color: white;
  font-family: 'Baloo Tamma 2', cursive;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
.Main{
  width: 100%;
  top: 0;
}